/* * {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
} */

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

h1 {
    font-size: 45px;
}

.name-special {
    color: orange;
}

.btn {
    background-image: linear-gradient(orange, rgb(0, 255, 13));
    padding: 8px 50px;
    border: none;
    border-radius: 5px;

}

.btn2 {
    background-image: linear-gradient(orange, rgb(0, 255, 13));
    padding: 14px 50px;
    border: none;
    border-radius: 5px;

}



.btn a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.btn2 a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}


.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    background-image: url("/images/top-banner.png");
    background-repeat: no-repeat;



}

.div1 {
    width: 50%;
    height: 100%;
    max-width: 600px;
    padding: 60px 20px;


}

.div2 {
    width: 50%;
    align-items: center;

}

.div2 img {
    width: 100%;
    max-width: 600px;
    height: auto;


}

p {
    text-align: justify;
}

.sec-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    background-image: url("/images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;


}

.sec-1-div-1 {
    width: 50%;
    align-items: center;
}

.sec-1-div-1 img {
    width: 100%;
    max-width: 600px;
    height: auto;

}

.sec-1-div-2 {
    width: 50%;
    height: 100%;
    max-width: 600px;
    padding: 60px 20px;
}

.sec-2 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    align-items: center;
    background-image: url("/images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

.sec-2-main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    justify-content: space-around;


}

.sec-2-div1 {
    width: 30%;
    height: 50%;
    padding: 20px;
    border-left: 4px solid blue;
    box-shadow: 10px 5px 10px 8px #888888;
    border-radius: 2%;
}

.sec-2-div2 {
    width: 30%;
    height: 50%;
    padding: 20px;
    border-left: 4px solid rgb(0, 255, 76);
    box-shadow: 10px 5px 10px 8px #888888;
    border-radius: 2%;

}