/* * {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
} */

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}

h1 {
    font-size: 45px;
}

#name-special {
    color: orange;
}

.btn {
    background-image: linear-gradient(orange,rgb(0, 255, 13));
    padding: 8px 50px;
    border: none;
    border-radius: 5px;

}

.btn a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.div1 {
    width: 50%;
    height: 100%;
    max-width: 600px;
    padding: 60px 20px;
    
   
}

.div2 {
    width: 50%;
    align-items: center;

}

.div2 img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 50%;

}